body {
    background-color: beige;
}

h1, p {
    text-align: center;
}

li:hover {
    background-color: rgb(245, 94, 174);
}

li:active {
    color: rgb(250, 250, 243);
}

ol, ul {
    list-style: none;
}